.navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: var(--nero);
    width: 100%;
}
.brand-and-toggler {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.navbar-brand {
    text-transform: uppercase;
    font-family: var(--poppins);
    font-size: 1.7rem;
    font-weight: 800;
}

.navbar-toggler {
    border: none;
    font-size: 1.7rem;
    background: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: var(--transition);
}

.navbar-toggler:hover {
    opacity: 0.8;
}

.navbar-collapse {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}
.nav-item {
    text-align: center;
    position: relative;
    padding: 0.6rem;
}
.nav-item::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    width: 0;
    height: 2px;
    background: var(--purple);
    transition: var(--transition);
}
.nav-item:hover::after {
    width: 100px;
}

.nav-link {
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: var(--transition);
}
.nav-link:hover {
    color: var(--purple);
}

.nav-item-active .nav-link {
    color: var(--purple);
}

/* show nav class */
.showNav {
    height: 200px;
}

/* Responsive */
@media screen and (min-width: 992px) {
    /* nav bar */
    .navbar-toggler {
        display: none;
    }
    .navbar .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-nav {
        display: flex;
        justify-content: flex-end;
    }
    .navbar-collapse{
        height: 100%;
        flex: 1 0 auto;
    }
    .brand-and-toggler {
        flex: 0 0 100px;
    }
    .nav-item {
        margin: 0 0.5rem;
    }
    .nav-link{
        font-size: 1rem;
    }

}

